.swiper-button-prev,
.swiper-button-next {
  opacity: 0;
}
.swiper-button-next {
  transform: translate(-213px, -44px);
}
.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-button-prev {
  transform: translate(213px, -44px);
}

.fadeDown {
  animation-name: fadeDown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.fadeUp {
  animation-name: fadeUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.fadeLeft {
  animation-name: fadeLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.fadeRight {
  animation-name: fadeRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.rotationOne {
  animation-name: rotationOne;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

.cards .card {
  transform: translateY(200px);
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.cards.show .card {
  transform: translateY(0);
  opacity: 1;
}

.cards.show .row:nth-child(1) .card:nth-child(2) {
  transition-delay: 0.1s;
}

.cards.show .row:nth-child(2) .card:nth-child(1) {
  transition-delay: 0.2s;
}

.cards.show .row:nth-child(2) .card:nth-child(2) {
  transition-delay: 0.3s;
}

.outcome-row .card {
  transform: translateY(-200px);
  opacity: 0;
  transition: 0.7s ease-in-out;
}

.outcome-row.show .card {
  transform: translateY(0);
  opacity: 1;
}

.outcome-row.show .card:nth-child(2) {
  transition-delay: 0.1s;
}

.outcome-row.show .card:nth-child(3) {
  transition-delay: 0.2s;
}

.moving-path {
  stroke: #e3cfff;
  stroke-width: 10;
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;

  animation-name: offset;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.flip-logo-container {
  /* background-color: #192226; */
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transform: translateX(-20px);
}

.flip-logo-container__top,
.flip-logo-container__bottom {
  height: 50%;
  width: 100%;
  position: relative;
}

.flip-span {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transform-style: preserve-3d;
}

.flip-span .flip-span_img {
  position: absolute;
  height: 200%;
  width: 100%;
  object-fit: contain;
  background-color: #f6f6f6;
  padding: 0 20px;
}

.flip-span:nth-child(2) .flip-span_img {
  transform: rotateX(180deg);
}

.flip-span:nth-child(3) {
  z-index: 20;
}

.flip-logo-container .flip-logo-container__top::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px 5px #f6f6f6;
  z-index: 2000;
}

.flip-logo-container .flip-logo-container__bottom .flip-span .flip-span_img {
  bottom: 0;
}

@media (max-width: 768px) {
  .swiper-button-next {
    transform: rotate(360deg) !important;
    transform: translate(-15px, -30px) !important;
  }
  .swiper-button-prev {
    transform: rotate(-360deg) !important;
    transform: translate(15px, -30px) !important;
  }

  .flip-logo-container {
    width: 120px;
    transform: translateX(-5px);
  }
  .flip-span .flip-span_img {
    padding: 0;
    padding: 0 10px;
  }
}
