@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "/src/font/WEB/css/clash-display.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #F6F6F6;
    font-family: Space Grotesk;
}

p {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    color: #12141D;
    line-height: 32px;
}

h2 {
    color: #FFF;
    font-size: 48px;
    font-family: "ClashDisplay-SemiBold";
    font-weight: 600;
    line-height: 56px;
}

html {
  scroll-behavior: smooth;
}



@media (max-width: 768px) {
  p{
  font-size: 16px;
  line-height: 24px;
  }
  h2{
    font-size: 32px !important;
    }
    
}


@layer components {
.span-style  {
    @apply bg-spanBg rounded-lg border border-borderLine
  }

  .folder-style  {
    @apply text-folderTextColor sm:text-base text-sm leading-[30px] 
  }
  .tab-style  {
    @apply py-[4px] px-[12px] bg-tabBgColor text-primary rounded-[16px] hover:bg-tabTextbgHover hover:text-tabTextColorHover sm:text-sm cursor-pointer mix-blend-multiply text-[12px] w-fit h-fit leading-[22px]
  }
  .gradient-style {
    @apply w-[16.813rem] h-[16.813rem] opacity-[0.4000000059604645] rounded-[16.813rem] blur-[150px] absolute  mt-[1.875rem] bg-blogGradient
  }
  .gradient-radial {
    @apply w-[351px] h-[358px] rounded-[16px] shadow-communityShadow backdrop-blur-[21px]
  }
  .folder-tab-style {
    @apply bg-white py-[8px] px-[30px] text-sm leading-[20px] border-communityBorder border-solid border
  }
  .matt-tab-style {
    @apply mt-[100px]
  }

}
