@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import "/src/font/WEB/css/clash-display.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f6f6f6;
  font-family: Space Grotesk;
}

p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  color: #12141d;
  line-height: 32px;
}

h2 {
  color: #fff;
  font-size: 48px;
  font-family: "ClashDisplay-SemiBold";
  font-weight: 600;
  line-height: 56px;
}

html {
  scroll-behavior: smooth;
}

.blog-content ul {
  list-style: disc;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding-left: 15px;
}

.blog-content h2 {
  color: #12141d;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 1px;
}

.tab-scroll::-webkit-scrollbar {
  display: none;
}

.tab-scroll {
  -ms-overflow-style: none;
}

@media (max-width: 768px) {
  p {
    font-size: 16px;
    line-height: 24px;
  }
  h2 {
    font-size: 32px !important;
  }

  .blog-content h2 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  .head-wrapper {
    border-radius: 16px !important;
  }
  .contact-us {
    background-image: none !important;
  }
}

@layer components {
  .span-style {
    @apply bg-spanBg rounded-2xl border border-borderLine;
  }

  .folder-style {
    @apply text-folderTextColor sm:text-base text-sm leading-[30px];
  }
  .tab-style {
    @apply py-[4px] px-[12px] bg-tabBgColor text-primary rounded-[16px] hover:bg-tabTextbgHover hover:text-tabTextColorHover sm:text-sm cursor-pointer mix-blend-multiply text-[12px] w-fit h-fit leading-[22px];
  }
  .gradient-style {
    @apply w-[16.813rem] h-[16.813rem] opacity-[0.4000000059604645] rounded-[16.813rem] blur-[150px] absolute  mt-[1.875rem] bg-blogGradient;
  }
  .gradient-radial {
    @apply w-[351px] h-[358px] rounded-[16px] shadow-communityShadow backdrop-blur-[21px];
  }
  .folder-tab-style {
    @apply bg-white py-[8px] px-[30px] text-sm leading-[20px] border-communityBorder border-solid border;
  }
  .matt-tab-style {
    @apply mt-[100px];
  }
}

.fadeDown {
  animation-name: fadeDown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.fadeUp {
  animation-name: fadeUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.fadeLeft {
  animation-name: fadeLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* @keyframes fadeRigt{
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
} */
